
main{
  text-align: center;
}

.diceContainer{
  background-color: gray;
  display: flex;
  flex-wrap: wrap;

}

.dice{
  background-color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 24px 5px;
  box-sizing: border-box;
  margin: 2%;
  width: 9rem;
  text-align: center;
}
.dice.selected{
  background-color: lightgreen;
}

.dice:hover{
  cursor: pointer;
}

.roll-btn{
  background-color: blue;
    padding: 13px 40px;
    margin: 15px 0;
    border-radius: 6px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}